wxpython
openai>=1.1,<=1.20
py7zr
opencv-python
rembg
fastapi
uvicorn
pyngrok
qrcode
cmudict
cn2an
faster-whisper==0.10.1
g2p_en
GPUtil
gradio==4.23.0
jieba
langid
librosa==0.9.2
loguru
matplotlib
num2words
numba
pyannote.audio>=3.1.0
pydantic>=2.0
pyloudnorm
pyopenjtalk-dict
pypinyin
pyworld-prebuilt
PyYAML
safetensors
tensorboard
transformers
umap-learn
langchain
accelerate
bitsandbytes
langchainhub
langchain-google-genai
langchain-community
https://github.com/oobabooga/llama-cpp-python-cuBLAS-wheels/releases/download/wheels/llama_cpp_python-0.2.36+cu118-cp311-cp311-win_amd64.whl